body {
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    background-color: #91c8f5;
}

#banner {
    width: 150%;
    margin: 50px auto;
}

h1 {
    text-align:center;

p {
    margin: 20px 0;
}
